.questions-indicator {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;

  &__item {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #C4C4C4;

    &--passed {
      background-color: #FFBCA2;
    }
  }

  &--center {
    margin: 0 auto;
  }

}