@use '../general/vars';

// ....................question.......................

.question-result {
  max-width: 380px;
  width: 90%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  color: #010101;
  text-align: center;
  font-family: "Gilroy-Regular";
  background-color: white;

  &__img {
    display: flex;
    width: 100%;
    height: 290px;
    border-radius: 20px;
    background-color: red;
    background-position: center;
    background-size: cover;
  }

  &__indicator {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    margin: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100%;
  }

  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
  }

  &__author,
  &__year {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: italic;
  }

  &__btn {
    @include vars.flex_center;
    max-width: 290px;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    border: none;
    border-radius: 56px;
    font-size: 18px;
    background-color: #FFBCA2;
  }
}

// ....................category.......................

.category-result {
  // .............Category result...............
  max-width: 380px;
  width: 90%;
  padding: 25px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: 'Gilroy-Regular';
  text-align: center;
  color: #010101;
  background-color: white;

  &__img {
    width: 150px;
    margin-top: 30px;
  }

  &__title {
    margin: 20px 0;
    font-weight: 600;
    font-size: 22px;
  }

  &__num-wrap {
    margin-bottom: 30px;
    font-family: 'Gilroy-Bold';
    font-weight: 700;
    font-size: 48px;
  }

  &__btn-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 440px;
    width: 100%;
    margin: 0 auto
  }

  &__btn {
    @include vars.flex_center;
    max-width: 210px;
    width: 49%;
    height: 48px;
    border: 1px solid;
    border-radius: 60px;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    background-color: white;

    &:last-child {
      border: none;
      background-color: #FFBCA2;
    }
  }

  // .............Grand result...............

  &__img-grand {
    width: 250px;
    margin: 20px 0;
  }

  &__subtitle-grand {
    display: block;
    max-width: 200px;
    margin: 0 auto 20px;
    font-family: 'Gilroy-Bold';
    font-size: 52px;
    line-height: 52px;
  }

  &__title-grand {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 22px;
  }

  &__btn-grand {
    @include vars.flex_center;
    max-width: 295px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    border-radius: 60px;
    font-size: 22px;
    text-decoration: none;
    color: inherit;
    background-color: #FFBCA2;
  }

  // .............Game over...............

  &__img-over {
    margin-top: 40px;
    width: 150px;
    margin-bottom: 20px;
  }

  &__title-over {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Gilroy-Bold';
    font-size: 36px;
  }

  &__subtitle-over {
    display: block;
    margin-bottom: 40px;
    font-size: 22px;
  }
}

// ....................quit game.......................

.quit-game {
  max-width: 400px;
  width: 95%;
  padding: 25px 15px;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: 'Gilroy-Regular';
  text-align: center;
  color: #010101;
  background-color: white;

  &__img {
    margin-left: auto;
    filter: invert(38%) sepia(17%) saturate(0%) hue-rotate(215deg) brightness(96%) contrast(82%);
  }

  &__title {
    width: 200px;
    margin: 20px auto 45px;
    font-size: 22px;
    line-height: 28px;

    letter-spacing: -0.5px;
  }

  &__btn-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 310px;
    width: 100%;
    margin: 0 auto
  }

  &__btn {
    @include vars.flex_center;
    width: 150px;
    height: 48px;
    border: 1px solid;
    border-radius: 60px;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    background-color: white;

    &:last-child {
      border: none;
      background-color: #FFBCA2;
    }
  }
}