@use '../general/vars';

.question-artist {

  &__img-block {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 0 20px;
    box-sizing: border-box;
    height: 295px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: 50% 50%;
    transition: background-image 1s ease-in-out 0s;
  }

  &__options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__option {
    @include vars.flex_center;

    width: 48%;
    height: 48px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 56px;
    color: white;
    font-size: 16px;
    // letter-spacing: -0.9px;
    background-color: transparent;
  }
}