@use '../general/vars';

.question-pictures {

  &__options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 15px;

    // .............
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }

  &__option {
    width: 48%;
    height: 163px;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;

   transition: opacity vars.$transition, background-image  1s ease-in-out 0s;
  }

  &__option:hover {
    opacity: 0.5;
  }
}