@use 'vars';


.hover-opacity {
  transition: vars.$transition;

  &:hover {
    opacity: vars.$opacity;
  }
}

.hover-bg {
  transition: vars.$transition;

  &:hover {
    background-color: white;
    color: black;
  }

  &:active {
    border-color: #FFBCA2;
    background-color: #FFBCA2;
    color: black;
  }
}

.hover-rotate {
  transition: vars.$transition;

  &:hover {
    transform: rotate(-360deg);
  }
}

.opacity {
  opacity: 35%;
}

.not-played {
  filter: grayscale(100%);

  & .category-item__amount,
  .category-item__play-again {
    display: none;
  }
}

.hidden {
  transform: scale(10);
  opacity: 0;
  visibility: hidden;
}

.gray {
  filter: grayscale(1);
}

.none {
  display: none;
}

.btn-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 80px;
  font-weight: bold;
  color: red;
  text-shadow: 0px 0px 40px #fe4d1a;
  animation: save 1s;
  animation-timing-function: cubic-bezier(.06, .75, .97, .06);
}

@keyframes save {
  to {
    transform: translate(-50%, -50%) scale(13);
    opacity: 0;
  }
}