@use 'vars';

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(59, 28, 77);
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(194, 194, 194);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(180deg, #bd0101, #5e0000);
}

button {
  cursor: pointer;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  min-height: 640px;
  padding-top: 22px;
  padding-bottom: 10px;
  box-sizing: border-box;
  font-family: "Gilroy-Regular";
  color: white;
  background-color: black;
  box-shadow: 0px 0px 100px 0px rgb(255 0 0);
  // overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.question-container {
  max-width: 825px;
  width: 90%;
  margin: 0 auto;
}

.question-title {
  margin: 0;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.opacity {
  opacity: 35%;
}

// ...................................

.hover-opacity {
  transition: vars.$transition;

  &:hover {
    opacity: vars.$opacity;
  }
}

.hover-bg {
  transition: vars.$transition;

  &:hover {
    background-color: white;
    color: black;
  }

  &:active {
    border-color: #FFBCA2;
    background-color: #FFBCA2;
    color: black;
  }
}

.hover-rotate {
  transition: vars.$transition;

  &:hover {
    transform: rotate(-360deg);
  }
}

// ...............................

.not-played {
  filter: grayscale(100%);

  & .category-item__amount,
  .category-item__play-again {
    display: none;
  }
}

.hidden {
  transform: scale(10);
  opacity: 0;
  visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @include vars.flex_center;

  background-color: rgba(0, 0, 0, 0.6);
  transition: calc(vars.$transition * 1.2);
  transition-delay: 0.2s;
}

// ...........

.gray {
  filter: grayscale(1);
}

.none {
  display: none;
}


