$transition: 0.4s;
$opacity: 0.6;

@mixin space-between_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
